<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #a {
        color: red;
        font: 20px Arial;
    }
</style>
<body>
<div id="app">
    <!-- vue基本使用 -->
    <button @click="handleClick">点我</button>
    <br/>
    <input type="text" v-model="num">
    <button @click="num++">+</button>
    <h1>
        <span v-text="name"></span> 非常帅！<br/>
        {{num}} 位女神为其着迷！
    </h1>
    <span v-text="name"></span> <br/>
    <span v-html="name"></span>
    
    <!-- v-model -->
    <hr/>
    <h1>需要学习的课程</h1>
    <input type="checkbox" v-model="lessons" value="Java"/>Java <br/>
    <input type="checkbox" v-model="lessons" value="Python"/>Python <br/>
    <input type="checkbox" v-model="lessons" value="Mysql"/>Mysql <br/>
    
    <h2>已经学习的课程: {{lessons.join(",")}}</h2>
    <hr/>
    
    <!-- v-on -->
    <!--@click.stop代表只点击一个事件生效，不会出现两个-->
    <div style="width: 100px; height: 100px; background-color: cornsilk;"
         @click.stop="print('div')">
        div
        <button @click.stop="print('button')">点我试试</button>
        <a href="http://www.baidu.com" @click.prevent.stop="print('百度')">百度一下，你就知道</a>
    </div>
    
    <hr/>
    <!--v-for-->
    <ul>
        <li v-for="(user,index) in users" :key="index">
            {{index}} {{user.name + "," + user.gender + "," + user.age}}
        </li>
    </ul>
    <ul>
        <li v-for="(value,key,index) in users[0]">
            {{index + ":" + key + "," + value}}
        </li>
    </ul>
    <ul>
        <li v-for="i in 5">
            {{i}}
        </li>
    </ul>
    <hr/>
    
    <!--v-if-->
    <!--事件中直接写js片段-->
    <button @click="show = !show">点击切换</button>
    <h1 v-if="show">
        你好
    </h1>
    <h1 v-show="show">
        你好,v-show!
    </h1>
    <ul>
        <li v-for="i in 5">
            <span v-if="i%2 === 0">偶数：{{i}}</span>
            <span v-else style="background-color: #cccccc">奇数：{{i}}</span>
        </li>
    </ul>
    <hr/>
</div>
<p id="a">安装Vue和使用Vue</p>
<p>安装node.js，然后在cmd中输入node -v和npm -v查看是否安装成功</p>
<p>然后如果有代理设置代理配置，npm config set proxy http://username:password@server:port/</p>
<p>接着输入npm install nrm -g，其中-g代表全局设置</p>
<p>最后nrm ls查看所有的源，nrm use taobao选择淘宝源</p>
<hr/>
<p>在当前项目下的终端中先输入npm init -y，然后输入npm install vue --save</p>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: "#app", //element,vue作用的标签
        data: {
            name: "",
            num: 1,
            lessons: [],
            users: [
                {name: '柳岩', gender: '女', age: 21},
                {name: '诗神', gender: '男', age: 27},
                {name: '范冰冰', gender: '女', age: 35},
                {name: '刘亦菲', gender: '女', age: 18},
                {name: '古力娜扎', gender: '女', age: 25}
            ],
            show: false,
        },
        methods: {
            handleClick() {
                console.log("hello!");
            },
            print(msg) {
                console.log(msg);
            }
        },
        created() {
            // 向后台发起ajax请求，完成对data数据初始化
            // setTimeout(() => this.name = "诗神", 1000);
            this.name = "<font color='blue'>诗神</font>";
        }
    });
</script>
</body>
</html>