<!DOCTYPE html>
<html lang="en"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue.js常用指令测试</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(item,index) in list" :key="index" v-if="index %2 === 0">{{index}}---{{item}}</li>
        <li v-for="(value,key) in user">{{key}}---{{value}}</li>
        <li v-for="(item,index) in userList" :key="item.user.uname">
            <div v-if="item.user.uname === 'zs'" style="background: #00b7ee">
                {{index}}---{{item.user.uname}}---{{item.user.age}}
            </div>
            <div v-else="">
                {{index}}---{{item.user.uname}}---{{item.user.age}}
            </div>
        </li>
    </ul>
</div>
</body>
<script src="vue.min.js"></script>
<script>
    // 编写MVVM中的model部分及VM(ViewModel)部分
    var VM = new Vue({
        el: '#app', // VM接管了app区域的管理
        data: {
            list: [1, 2, 3, 4, 5],
            user: {uname: 'zs', age: 10},
            userList: [
                {user: {uname: 'zs', age: 10}},
                {user: {uname: 'zs2', age: 15}},
                {user: {uname: 'zs3', age: 20}},
            ]
        },
    })
</script>
</html>