<!DOCTYPE html>
<html lang="en"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue.js常用指令测试</title>
</head>
<body>
<!--实现在body区域显示一个计算-->
<div id="app">
    <!--{{name}}-->
    <a v-bind:href="url">
        <span v-text="name"></span>
    </a>
    <div v-bind:style="{fontSize: size+'px'}">Java</div>
    <hr>
    <input type="text" v-model="num1"/> +
    <input type="text" v-model="num2"/> =
    <!--{{Number.parseInt(num1)+Number.parseInt(num2)}}-->
    <!--<span v-text="Number.parseInt(num1)+Number.parseInt(num2)"></span>-->
    <span v-text="result"></span>
    <button v-on:click="change">计算</button>
</div>
</body>
<script src="vue.min.js"></script>
<script>
    // 编写MVVM中的model部分及VM(ViewModel)部分
    var VM = new Vue({
        el: '#app', // VM接管了app区域的管理
        data: {
            name: '张诗',
            num1: 0,
            num2: 0,
            result: 0,
            url: 'https://www.baidu.com',
            size: 33,
        },
        methods: {
            change: function () {
                this.result = Number.parseInt(this.num1) + Number.parseInt(this.num2);
            }
        }
    })
</script>
</html>